# PySpark H.W Session 1

Let's get some quick practice with your new Spark DataFrame skills, you will be asked some basic questions about some stock market data, in this case Walmart Stock from the years 2012-2017. This exercise will just ask a bunch of questions, unlike the future machine learning exercises, which will be a little looser and be in the form of "Consulting Projects", but more on that later!

For now, just answer the questions and complete the tasks below.

#### Use the walmart_stock.csv file to Answer and complete the  tasks below!

#### Start a simple Spark Session

In [1]:
import findspark
findspark.init()

from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Walmart_Stock').master('local[*]').getOrCreate()

#### Load the Walmart Stock CSV File, have Spark infer the data types.

In [3]:
df = spark.read.csv('walmart_stock.csv', header=True, inferSchema=True)

In [4]:
df.toPandas().head()

         Date       Open       High        Low      Close    Volume  Adj Close
0  2012-01-03  59.970001  61.060001  59.869999  60.330002  12668800  52.619235
1  2012-01-04  60.209999  60.349998  59.470001  59.709999   9593300  52.078475
2  2012-01-05  59.349998  59.619999  58.369999  59.419998  12768200  51.825539
3  2012-01-06  59.419998  59.450001  58.869999  59.000000   8069400  51.459220
4  2012-01-09  59.029999  59.549999  58.919998  59.180000   6679300  51.616215

#### What are the column names?

In [5]:
df.columns

['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']

#### What does the Schema look like?

In [6]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: integer (nullable = true)
 |-- Adj Close: double (nullable = true)

#### Print out the first 5 columns.

In [7]:
df.show(5, truncate=False)

+----------+------------------+---------+---------+------------------+--------+------------------+
|Date      |Open              |High     |Low      |Close             |Volume  |Adj Close         |
+----------+------------------+---------+---------+------------------+--------+------------------+
|2012-01-03|59.970001         |61.060001|59.869999|60.330002         |12668800|52.619234999999996|
|2012-01-04|60.209998999999996|60.349998|59.470001|59.709998999999996|9593300 |52.078475         |
|2012-01-05|59.349998         |59.619999|58.369999|59.419998         |12768200|51.825539         |
|2012-01-06|59.419998         |59.450001|58.869999|59.0              |8069400 |51.45922          |
|2012-01-09|59.029999         |59.549999|58.919998|59.18             |6679300 |51.616215000000004|
+----------+------------------+---------+---------+------------------+--------+------------------+
only showing top 5 rows

#### Use describe() to learn about the DataFrame.

In [8]:
df.describe().show()

+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|summary|      Date|              Open|             High|              Low|            Close|           Volume|        Adj Close|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+
|  count|      1258|              1258|             1258|             1258|             1258|             1258|             1258|
|   mean|      null| 72.35785375357709|72.83938807631165| 71.9186009594594|72.38844998012726|8222093.481717011|67.23883848728146|
| stddev|      null|  6.76809024470826|6.768186808159218|6.744075756255496|6.756859163732991|  4519780.8431556|6.722609449996857|
|    min|2012-01-03|56.389998999999996|        57.060001|        56.299999|        56.419998|          2094900|        50.363689|
|    max|2016-12-30|         90.800003|        90.970001|            89.25|        90.470001|         80898100|84.91421600000001|
+-------+----------+------------------+-----------------+-----------------+-----------------+-----------------+-----------------+

## Bonus Question!
#### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places. Pay careful attention to the datatypes that .describe() returns, we didn't cover how to do this exact formatting, but we covered something very similar. [Check this link for a hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.Column.cast)

If you get stuck on this, don't worry, just view the solutions.

In [9]:
import pyspark.sql.functions as func

In [10]:
df_desc = df.describe().drop('Date')
df_desc.printSchema()

root
 |-- summary: string (nullable = true)
 |-- Open: string (nullable = true)
 |-- High: string (nullable = true)
 |-- Low: string (nullable = true)
 |-- Close: string (nullable = true)
 |-- Volume: string (nullable = true)
 |-- Adj Close: string (nullable = true)

In [11]:
cols = ['Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close']
df_round = df_desc.select([func.round(c, 2).alias(c) for c in cols])
df_round.show()

+------+------+------+------+----------+---------+
|  Open|  High|   Low| Close|    Volume|Adj Close|
+------+------+------+------+----------+---------+
|1258.0|1258.0|1258.0|1258.0|    1258.0|   1258.0|
| 72.36| 72.84| 71.92| 72.39|8222093.48|    67.24|
|  6.77|  6.77|  6.74|  6.76|4519780.84|     6.72|
| 56.39| 57.06|  56.3| 56.42| 2094900.0|    50.36|
|  90.8| 90.97| 89.25| 90.47| 8.08981E7|    84.91|
+------+------+------+------+----------+---------+

#### Create a new dataframe with a column called HV Ratio that is the ratio of the High Price versus volume of stock traded for a day.

In [12]:
df_hv = df.withColumn('HV Ratio', df['High']/df['Volume'])
df_hv.select('HV Ratio').show(truncate=False)

+---------------------+
|HV Ratio             |
+---------------------+
|4.819714653321546E-6 |
|6.290848613094555E-6 |
|4.669412994783916E-6 |
|7.367338463826307E-6 |
|8.915604778943901E-6 |
|8.644477436914568E-6 |
|9.351828421515645E-6 |
|8.29141562102703E-6  |
|7.712212102001476E-6 |
|7.071764823529412E-6 |
|1.015495466386981E-5 |
|6.5763541463625925E-6|
|5.90145296180676E-6  |
|8.547679455011844E-6 |
|8.420709512685392E-6 |
|1.0414483417289294E-5|
|8.316075414862431E-6 |
|9.721183814992126E-6 |
|8.029436027707578E-6 |
|6.307432259386365E-6 |
+---------------------+
only showing top 20 rows

#### What day had the Peak High in Price?

In [13]:
from pyspark.sql.functions import *

In [14]:
high_peak = df.select('Date').where(df['high'].isNotNull()).\
                            orderBy(df['high'], ascending=False)

high_peak.show(1)

+----------+
|      Date|
+----------+
|2015-01-13|
+----------+
only showing top 1 row

#### What is the mean of the Close column?

In [15]:
df.select('close').agg(avg('close')).show()

+-----------------+
|       avg(close)|
+-----------------+
|72.38844998012726|
+-----------------+

#### What is the max and min of the Volume column?

In [16]:
df.select('volume').agg(max('volume'), min('volume')).show()

+-----------+-----------+
|max(volume)|min(volume)|
+-----------+-----------+
|   80898100|    2094900|
+-----------+-----------+

#### How many days was the Close lower than 60 dollars?

In [17]:
close_less = df.select('close').where(df['close']<60).count()
close_less

81

#### What percentage of the time was the High greater than 80 dollars ?
#### In other words, (Number of Days High>80)/(Total Days in the dataset)

In [18]:
(df.select('High').where(df['high']>80).count()/df.select('High').count())*100

9.141494435612083

#### What is the Pearson correlation between High and Volume?
#### [Hint](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameStatFunctions.corr)

In [19]:
df.agg(corr('high', 'volume')).show()

+-------------------+
| corr(high, volume)|
+-------------------+
|-0.3384326061737161|
+-------------------+

#### What is the max High per year?

In [20]:
df_for_year = df.withColumn('Year', year('Date')).select('Year', 'High')
df_for_year.groupBy('Year').agg(max('High').alias('max(High)')).\
                        orderBy('max(High)', ascending=False).show()

+----+---------+
|Year|max(High)|
+----+---------+
|2015|90.970001|
|2014|88.089996|
|2013|81.370003|
|2012|77.599998|
|2016|75.190002|
+----+---------+

#### What is the average Close for each Calendar Month?
#### In other words, across all the years, what is the average Close price for Jan,Feb, Mar, etc... Your result will have a value for each of these months.

In [21]:
df_for_month = df.withColumn('month', month('Date')).select('month', 'close')
df_for_month.groupBy('month').agg(avg('close')).orderBy('month').show()

+-----+-----------------+
|month|       avg(close)|
+-----+-----------------+
|    1|71.44801958415842|
|    2|  71.306804443299|
|    3|71.77794377570092|
|    4|72.97361900952382|
|    5|72.30971688679247|
|    6| 72.4953774245283|
|    7|74.43971943925233|
|    8|73.02981855454546|
|    9|72.18411785294116|
|   10|71.57854545454543|
|   11| 72.1110893069307|
|   12|72.84792478301885|
+-----+-----------------+

### Done !